body {
  color: white;
  background-color: black;   
}
h1 {
  text-align: center;
}

#einstein {
 width: 100%;   
}

#thinker {
  position: absolute;
  width: 10%;
  top: 20%;
  left: 50%;
}

#instructions {
  position: absolute;
  color: white;
  top: 50%;
  left: 46%;
}

#myForm {
  position: absolute;
  color: white;
  top: 60%;
  left: 40%;
}


